/*! ddr-finder | https://github.com/Andrew67/ddr-finder/blob/master/LICENSE */
.message-hidden,
li.arcade-list-item:first-child,
.arcade-nav[href^="#"],
.arcade-city:empty,
.has-ddr-unavailable .arcade-has-ddr,
.has-ddr-unavailable-disclaimer,
#current-location-accuracy {
    display: none;
}

.has-ddr-unavailable .has-ddr-unavailable-disclaimer {
    display: block;
}

body {
    padding: 10px;
}

* {
    font-family: system-ui, -apple-system, sans-serif !important;
}

*:focus {
    outline: solid 2px black !important;
}

#app-title {
    cursor: pointer;
}

#source-select {
    width: auto;
    font-size: 16px; /* Prevents iOS zoom on focus. See https://stackoverflow.com/a/39551879 */
}

#footer {
    margin-top: 20px;
}

#current-location-link {
    width: 298px;
    height: 218px;
    display: block;
    border: 1px solid rgba(0,0,0,.8);
    margin-bottom: 10px;
}

.loading-img {
    filter: invert(1);
    margin-bottom: 5px;
}

.arcade-has-ddr-value {
    position: relative;
    top: .125em;
}

/* Convert SVGs that have built-in color to white */
.filter-white {
    filter: brightness(10);
}

/* Begin Metro UI CSS enhancements, overrides and backports */

/* Override colors to increase contrast and pass Lighthouse/aXe tests */
#ddrfinder.metrouicss a {
    color: #0c70cf;
}
#ddrfinder.metrouicss a:hover, #ddrfinder.metrouicss a:focus,
#ddrfinder.metrouicss .accordion > li.active > a {
    color: #0040cf;
}
#ddrfinder.metrouicss .bg-color-orangeDark {
    background-color: #c0421b !important;
}
#ddrfinder.metrouicss h3, #ddrfinder.metrouicss h3:hover {
    color: rgba(0,0,0,.8);
}

/* Align new SVG <img> icons in buttons */
#ddrfinder.metrouicss .button > img,
#ddrfinder.metrouicss button > img {
    position: relative;
    top: .125em;
    margin-right: 5px;
}

/* Force open accordion entries and hide buttons on print */
@media print {
    #ddrfinder.metrouicss .accordion > li > div {
        display: block;
    }
    .arcade-action-buttons {
        display: none;
    }
    #message-arcade-list > h4 {
        display: none;
    }
}

/*
    Loading spinner animation backported from Metro UI CSS 3.x metro-icons.css
    https://metroui.org.ua/font.html
 */
@-webkit-keyframes ani-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes ani-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.ani-spin {
    -webkit-animation: ani-spin 1.5s linear infinite;
    animation: ani-spin 1.5s linear infinite;
}

/*
    Override +/- accordion icon with backported from Metro UI CSS 3.x metro.css
    https://metroui.org.ua/accordion.html
 */
#ddrfinder.metrouicss .accordion > li.active > a,
#ddrfinder.metrouicss .accordion > li > a {
    background-image: none;
    padding-left: 16px;
}

#ddrfinder.metrouicss .accordion > li > a:before {
    position: relative;
    display: inline-block;
    left: -10px;
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: all 0.3s ease;
}

#ddrfinder.metrouicss .accordion > li.active > a:before {
    left: -6px;
    border-bottom-color: #ffffff;
    transition: all 0.3s ease;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}