/*! ddr-finder | https://github.com/Andrew67/ddr-finder/blob/master/LICENSE */
body, .metrouicss .input-control > select {
    background: #1b2024;
}

body,
#ddrfinder.metrouicss h1, #ddrfinder.metrouicss h1:hover,
#ddrfinder.metrouicss h2, #ddrfinder.metrouicss h2:hover,
#ddrfinder.metrouicss h3, #ddrfinder.metrouicss h3:hover,
#ddrfinder.metrouicss h4, #ddrfinder.metrouicss h4:hover,
#ddrfinder.metrouicss h5, #ddrfinder.metrouicss h5:hover,
#ddrfinder.metrouicss .input-control > select
{
    color: rgba(255,255,255,.87);
}

#ddrfinder.metrouicss .accordion > li > a:before {
    border-bottom-color: rgba(255,255,255,.87);
}

#ddrfinder.metrouicss a {
     color: #90caf9;
 }
#ddrfinder.metrouicss a:hover {
    color: #bbdefb;
}
#ddrfinder.metrouicss a:hover, #ddrfinder.metrouicss a:focus,
#ddrfinder.metrouicss .accordion > li.active > a {
    color: #bbdefb;
}

#ddrfinder.metrouicss .accordion > li.active > a {
    background: rgba(217,217,217,.16);
}

#current-location-link,
.metrouicss .input-control > select:focus
{
    border-color: rgba(255,255,255,.8);
}

.loading-img {
    filter: none;
}

.arcade-has-ddr-value.red {
    filter: brightness(6);
}

.arcade-has-ddr-value.green {
    filter: brightness(2) saturate(.5);
}
