/*! ddr-finder | https://github.com/Andrew67/ddr-finder/blob/master/LICENSE */
/*
    Light-weight Material-like CSS originally built for the Android app "About" page
    Uses class names corresponding to the MetroUICSS conventions employed originally
*/

body {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    margin: 0;
    padding: 10px;
}
a {
    color: #1a237e;
}
h1, h2 {
    margin: 0;
}
h4, h5 {
    font-size: 12px;
    font-weight: normal;
}

.warning {
    color: #bb4d00;
}

.button {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 8px;
    display: inline-block;
}
.color-greenDark {
    color: #1e7145;
}
.color-pinkDark {
    color: #7e3878;
}
.color-blueDark {
    color: #2b5797;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: #1b2024;
        color: rgba(255,255,255,.87);
    }
    a {
        color: #90caf9;
    }
    .warning {
        color: #ffb74d;
    }
    .color-greenDark {
        color: #a5d6a7;
    }
    .color-pinkDark {
        color: #f48fb1;
    }
    .color-blueDark {
        color: #bbdefb;
    }
}