Header always set Access-Control-Allow-Origin "*"

<Files "sources.json">
  Header set Cache-Control "public, max-age=180, must-revalidate"
  Header set Cloudflare-CDN-Cache-Control "maxage=86400"
</Files>
