Options -Indexes

# http://wiki.apache.org/httpd/RewriteHTTPToHTTPS
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

# Hide html suffix from locator page
RewriteRule "^/?locator$" "locator.html" [QSA,L]

# Redirect new unimplemented "app/map" links to the equivalent "ng" path
RewriteRule "^/?app/map/(.*/)?@(.*),(.*),(.*)z$" "/ng/?ll=$2,$3&z=$4" [R,QSA,L]

# Redirect old app versions to the new about path
RewriteRule "^/?about.php$" "/android/about.php" [R,QSA,L]

# http://wiki.dreamhost.com/Htaccess_tricks#Faster_page_loading
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript application/json image/svg+xml
</ifmodule>

# http://stackoverflow.com/questions/3673008/download-apk-from-own-webserver/11366500#11366500
AddType application/vnd.android.package-archive .apk

<FilesMatch "\.html$">
# Security headers as recommended by securityheaders.com
Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-XSS-Protection "1; mode=block"
Header always set Referrer-Policy "strict-origin"

Header always set Feature-Policy "\
vibrate 'none'; \
geolocation 'self'; \
microphone 'none'; \
camera 'none'; \
autoplay 'none'; \
payment 'none'; \
"
</FilesMatch>

# TODO: Un-apply from ng/ (Interactive Map) path
#<FilesMatch "^(index|locator)\.html$">
#Header always set Content-Security-Policy "\
#default-src 'self'; \
#img-src 'self' https://play.google.com https://stadiamaps.com; \
#script-src 'self' https://code.jquery.com; \
#font-src 'self' https://themes.googleusercontent.com; \
#object-src 'none'; \
#"
#</FilesMatch>

Header set Cache-Control "public, max-age=600, s-maxage=86400"
Header always set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"